/*contenido de miembros*/
.miembros {
    @include flex-wrap;
    justify-content: space-around;
    margin-top: 5rem;
    section {
        margin: 2rem;
        text-align: center;
        width: 20rem;
    }
    img {
        width: 20rem;
    }
    h2 {
        font-weight: bold;
        margin: 0.5rem;
    }
    p {
        width: 20rem;
        padding: 0.5rem;
    }
}