main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
 /*contenido del indice */
h1 {
    background-color: $bckgr-h1-color;
    text-align: center;
    color: $font-color;
    font-size: 300%;
    font-weight: bold;
    padding: 2%;
    margin-bottom: 0
 }